.cp_heading{
    background: #116257;
    margin-top: 7px;
    padding: 5px 0px 1px 10px;
    color: white;
    border-radius: 10px 10px 0px 0px;
}

.cp_heading h4 {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: white;
    text-align: left;
}


.change_password_input{
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    margin-top: 20px;
}

.password_change_btn{
    margin-top: 41px;
    background: #068267!important;
    border: 0;
    padding: 5px 50px;
    border-radius: 5px;
    color: white;
    font-weight: 500;   
}